.container-bg {
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 800px;
  width: 100%;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.container:hover {
  transform: scale(1.02);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* Row Layout */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

/* Column Layouts for Inputs */
.column {
  flex: 1;
  min-width: 250px;
}

.full-width {
  flex: 1;
  width: 100%;
}

/* Buttons */
.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:active {
  background-color: #004494;
}

.cancel-button {
  background-color: #fff;
  color: #000;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 4px;
}

.cancel-button:hover {
  background-color: #fff;
  border: 1px solid rgb(236, 126, 126);
  color: rgb(236, 126, 126);
}

.cancel-button:active {
  background-color: #fff;
}

.error-message {
  color: red;
  font-size: 0.9em;
  text-align: left;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%; 
  }

  .row {
    flex-direction: column;
    gap: 10px;
  }

  .column {
    min-width: 100%;
  }

  .submit-button,
  .cancel-button {
    width: 100%;
    margin-top: 10px;
  }
}
